.logger {
    background: rgba(0, 0, 0, 0.7);
    color: magenta;
    font-family: monospace;
    overflow: hidden;
    padding: 30px;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.logger-controls {
    position: fixed;
    right: 30px;
    bottom: 50%;
    transform: translate(0%, 50%);
    width: 100px;
}

.logger-control {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 15px;
    padding: 5px;
    text-align: center;
    width: 100%;
}

.logger-range {
    /*transform-origin: 75px 75px;
    transform: rotate(90deg);*/
    width: 100%;
}

.logger-control:active {
    background: rgba(255, 255, 255, 1);
}
.logger-key {
    color: magenta;
}

.logger-value {
    color: cyan;
}
