.logger {
    background: rgba(0, 0, 0, 0.8);
    color: magenta;
    font-family: monospace;
    font-size: 11px;
    overflow: hidden;
    padding: 15px;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.logger-controls {
    position: fixed;
    right: 30px;
    bottom: 50%;
    transform: translate(0%, 50%);
}

.logger-control {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    width: 80px;
}

.logger-entry {
    margin: 5px 0;
}

.logger-boolean {
    color: rgb(188, 163, 202);
}

.logger-undefined {
    color: grey;
}

.logger-null {
    color: grey;
}

.logger-object {
    color: #F1E293;
}

.logger-number {
    color: rgb(156, 180, 219);
}

.logger-string {
    color: rgb(227, 151, 154);
}

.logger-function {
    color: rgb(0, 255, 204);
}

.logger-array {
    color: cyan;
}
